- name: Install Docker
  package:
    name: docker
    state: present

- name: Start and enable Docker
  service:
    name: docker
    state: started
    enabled: true

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: true

- name: Install Docker Compose plugin
  get_url:
    url: https://github.com/docker/compose/releases/download/v2.29.2/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: "0755"
